@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingContainer {
  position: relative;
}
.loadingContainer > div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}
.loadingWhirlpool,
.loadingWhirlpool::before,
.loadingWhirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #cccccc;
  border-left-color: #000000;
  border-radius: 974px;
}
.loadingWhirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: loading-rotate 1150ms linear infinite;
}
.loadingWhirlpool::before {
  content: '';
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: loading-rotate 1150ms linear infinite;
}
.loadingWhirlpool::after {
  content: '';
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: loading-rotate 2300ms linear infinite;
}
